# python=3.7
# for torch with CUDA 10.2
# conda install pytorch==1.12.1 torchvision==0.13.1 torchaudio==0.12.1 cudatoolkit=10.2 -c pytorch
ftfy
regex
matplotlib
opencv-python==4.5.5.62
pytorch-msssim
ptflops
tqdm
timm
tensorboard
tensorboardx
git+https://github.com/openai/CLIP.git